            .seconn {
                display: -webkit-inline-flex;
                display: -ms-inline-flexbox;
                display: inline-flex;
                -webkit-align-items: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: center;
                -webkit-justify-content: center;
                -ms-flex-pack: center;
                justify-content: center;
                font-family: inherit;
                line-height: 1;
                border: 1px solid;
                -webkit-transition: box-shadow 200ms ease;
                transition: box-shadow 200ms ease;
                padding: 0 0.75rem;
                border-radius: 4px;
                width: 100%;
                text-transform: uppercase;
                -webkit-letter-spacing: 0.8px;
                -moz-letter-spacing: 0.8px;
                -ms-letter-spacing: 0.8px;
                letter-spacing: 0.8px;
                cursor: pointer;
                font-size: 0.875rem;
                height: 40px;
                min-width: 90px;
                -webkit-transition: background-color 80ms ease-in-out,border-color 80ms ease-in-out,box-shadow 60ms ease-in-out;
                transition: background-color 80ms ease-in-out,border-color 80ms ease-in-out,box-shadow 60ms ease-in-out;
                background-color: var(--bg-color,#29A160);
                border-color: var(--border-color,#29A160);
                color: var(--text-color,#FFFFFF);
                box-shadow: 0 0 0 2px transparent;
            }

            
            .seconn:disabled {
                cursor: not-allowed;
            }

            
            data-styled.g2[id="seconnid"] {
                content: "seconn,"
            }

            
            .seconnclass {
                --bg-color: #2E6BFF;
                --border-color: #2E6BFF;
                --text-color: #FFFFFF;
            }

            
            .seconnclass:hover {
                --bg-color: #2455CC;
                --border-color: var(--bg-color);
            }

            
            .seconnclass:disabled {
                --bg-color: #96B5FF;
                --border-color: #96B5FF;
                --text-color: #FFFFFF;
            }

            
            .seconnclass:focus {
                outline: none;
                box-shadow: 0 0 0 3px rgba(150,181,255,0.5);
            }

            
            data-styled.g4[id="seconnid2"] {
                content: "seconnclass,"
            }

            
            .h4conn {
                color: #000000;
                font-size: 20px;
                font-weight: 400;
                -webkit-letter-spacing: 0.15px;
                -moz-letter-spacing: 0.15px;
                -ms-letter-spacing: 0.15px;
                letter-spacing: 0.15px;
                font-weight: bold;
            }

            
            .pstyl {
                color: #9B9B9B;
                font-size: 16px;
                font-weight: 400;
                -webkit-letter-spacing: 0.5px;
                -moz-letter-spacing: 0.5px;
                -ms-letter-spacing: 0.5px;
                letter-spacing: 0.5px;
            }

            
            data-styled.g13[id="idgroup"] {
                content: "h4conn,pstyl,"
            }

            
            .divstyl {
                display: block;
            }

            
            .divstyl:not(:last-child) {
                margin-bottom: 16px;
            }

            
            data-styled.g64[id="idgroup2"] {
                content: "divstyl,"
            }

            
            .divstyl2 {
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-align-items: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                margin: 4px 0 8px 0px;
                font-weight: 400;
                line-height: 1.5;
                color: #2D2D2D;
                font-size: 14px;
            }

            
            @media (min-width: 768px) {
                .divstyl2 {
                    font-size:16px;
                }
            }

            
            .divstyl2 span {
                color: #D13649;
                margin-right: 2px;
            }

            
            .divstyl2 > svg {
                vertical-align: top;
                margin-right: 5px;
            }

            
            data-styled.g65[id="idgroup3"] {
                content: "divstyl2,"
            }

            
            .divstyl3 {
                width: 100%;
                box-sizing: border-box;
                font-size: 1rem;
                font-family: inherit;
                line-height: 50px;
                background-color: transparent;
                border: 2px solid transparent;
                padding: 0;
                padding-left: 48px;
                padding-right: 16px;
                -webkit-box-flex: 1;
                -webkit-flex-grow: 1;
                -ms-flex-positive: 1;
                flex-grow: 1;
            }

            
            .divstyl3::-webkit-input-placeholder {
                color: #D0D0D0;
                -webkit-transition: color 150ms;
                transition: color 150ms;
                opacity: 1;
            }

            
            .divstyl3::-moz-placeholder {
                color: #D0D0D0;
                -webkit-transition: color 150ms;
                transition: color 150ms;
                opacity: 1;
            }

            
            .divstyl3:-ms-input-placeholder {
                color: #D0D0D0;
                -webkit-transition: color 150ms;
                transition: color 150ms;
                opacity: 1;
            }

            
            .divstyl3::placeholder {
                color: #D0D0D0;
                -webkit-transition: color 150ms;
                transition: color 150ms;
                opacity: 1;
            }

            
            .divstyl3:focus {
                outline: none;
            }

            
            .divstyl3:disabled {
                cursor: not-allowed;
            }

            
            .divstyl4 {
                width: 100%;
                box-sizing: border-box;
                font-size: 1rem;
                font-family: inherit;
                line-height: 50px;
                background-color: transparent;
                border: 2px solid transparent;
                padding: 0;
                padding-left: 48px;
                padding-right: 48px;
                -webkit-box-flex: 1;
                -webkit-flex-grow: 1;
                -ms-flex-positive: 1;
                flex-grow: 1;
            }

            
            .divstyl4::-webkit-input-placeholder {
                color: #D0D0D0;
                -webkit-transition: color 150ms;
                transition: color 150ms;
                opacity: 1;
            }

            
            .divstyl4::-moz-placeholder {
                color: #D0D0D0;
                -webkit-transition: color 150ms;
                transition: color 150ms;
                opacity: 1;
            }

            
            .divstyl4:-ms-input-placeholder {
                color: #D0D0D0;
                -webkit-transition: color 150ms;
                transition: color 150ms;
                opacity: 1;
            }

            
            .divstyl4::placeholder {
                color: #D0D0D0;
                -webkit-transition: color 150ms;
                transition: color 150ms;
                opacity: 1;
            }

            
            .divstyl4:focus {
                outline: none;
            }

            
            .divstyl4:disabled {
                cursor: not-allowed;
            }

            
            data-styled.g89[id="idgroup4"] {
                content: "divstyl3,divstyl4,"
            }

            
            .divstyl5 {
                display: -webkit-inline-flex;
                display: -ms-inline-flexbox;
                display: inline-flex;
                -webkit-align-items: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: center;
                -webkit-justify-content: center;
                -ms-flex-pack: center;
                justify-content: center;
                border-radius: 50px;
                padding: 4px;
            }

            
            data-styled.g90[id="idgroup5"] {
                content: "divstyl5,"
            }

            
            .divstyl6 {
                width: 100%;
                box-sizing: border-box;
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-align-items: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                position: relative;
                border: none;
                border-radius: 4px;
                box-shadow: inset 0 0 0 1px #D0D0D0;
                color: #2D2D2D;
                background-color: #FFFFFF;
                cursor: text;
                -webkit-transition-duration: 190ms;
                transition-duration: 190ms;
                -webkit-transition-property: box-shadow,background-color;
                transition-property: box-shadow,background-color;
            }

            
            .divstyl6 > div:first-child svg {
                -webkit-transition: fill 190ms;
                transition: fill 190ms;
            }

            
            .divstyl6:hover {
                box-shadow: inset 0 0 0 1px #666666;
            }

            
            .divstyl6:focus-within,.divstyl6:focus {
                outline: none;
                box-shadow: inset 0 0 0 2px #2E6BFF;
            }

            
            .divstyl6:focus-within > div:first-child svg,.divstyl6:focus > div:first-child svg {
                fill: #2E6BFF !important;
            }

            
            data-styled.g91[id="idgroup6"] {
                content: "divstyl6,"
            }

            
            .divstyl7 {
                position: absolute;
                top: 50%;
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-align-items: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                left: 12px;
                pointer-events: none;
            }

            
            .divstyl8 {
                position: absolute;
                top: 50%;
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-align-items: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                right: 12px;
            }

            
            data-styled.g92[id="idgroup7"] {
                content: "divstyl7,divstyl8,"
            }

            
            .divstyl9 {
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                cursor: pointer;
            }

            
            data-styled.g93[id="idgroup8"] {
                content: "divstyl9,"
            }

            
            .divstyl10 {
                -webkit-box-flex: 1;
                -webkit-flex-grow: 1;
                -ms-flex-positive: 1;
                flex-grow: 1;
                box-sizing: border-box;
                width: 100%;
                max-width: 0%;
            }

            
            @media (min-width: 992px) {
                .divstyl10 {
                    max-width:38.75%;
                }
            }

            
            .divstyl11 {
                -webkit-box-flex: 1;
                -webkit-flex-grow: 1;
                -ms-flex-positive: 1;
                flex-grow: 1;
                box-sizing: border-box;
                width: 100%;
                max-width: 100%;
            }

            
            @media (min-width: 992px) {
                .divstyl11 {
                    max-width:61.24999999999999%;
                }
            }

            
            .divstyl12 {
                -webkit-box-flex: 1;
                -webkit-flex-grow: 1;
                -ms-flex-positive: 1;
                flex-grow: 1;
                box-sizing: border-box;
                width: 100%;
            }

            
            @media (min-width: 768px) {
                .divstyl12 {
                    max-width:100%;
                }
            }

            
            .divstyl13 {
                -webkit-box-flex: 1;
                -webkit-flex-grow: 1;
                -ms-flex-positive: 1;
                flex-grow: 1;
                box-sizing: border-box;
                width: 100%;
            }

            
            @media (min-width: 992px) {
                .divstyl13 {
                    max-width:100%;
                }
            }

            
            data-styled.g115[id="idgroup9"] {
                content: "divstyl10,divstyl11,divstyl12,divstyl13,"
            }

            
            .divstyl14 {
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-flex-wrap: wrap;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                -webkit-flex-direction: row;
                -ms-flex-direction: row;
                flex-direction: row;
            }

            
            data-styled.g116[id="idgroup10"] {
                content: "divstyl14,"
            }

            
            .divstyl15 {
                -webkit-flex: 1;
                -ms-flex: 1;
                flex: 1;
                background-color: #fff;
            }

            
            data-styled.g392[id="idgroup11"] {
                content: "divstyl15,"
            }

            
            .divstyl16 {
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-align-items: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: center;
                -webkit-justify-content: center;
                -ms-flex-pack: center;
                justify-content: center;
                background-color: transparent;
                border: 1px solid rgba(145,158,171,0.32);
                color: #1877f2;
                width: 170px;
                height: 40px;
                border-radius: 4px;
                font-size: 14px;
            }

            
            .divstyl16 > * + * {
                margin-left: 4px;
            }

            
            .divstyl16 > span {
                color: #1a1a1c;
            }

            
            data-styled.g572[id="idgroup12"] {
                content: "divstyl16,"
            }

            
            .divstyl17 {
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                width: 100%;
                margin-bottom: 16px;
            }

            
            .divstyl17 > * {
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                -webkit-justify-content: center;
                -ms-flex-pack: center;
                justify-content: center;
                -webkit-flex-basis: 50%;
                -ms-flex-preferred-size: 50%;
                flex-basis: 50%;
                -webkit-flex-shrink: 0;
                -ms-flex-negative: 0;
                flex-shrink: 0;
            }

            
            data-styled.g573[id="idgroup13"] {
                content: "divstyl17,"
            }

            
            .divstyl18 {
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                overflow: hidden;
            }

            
            data-styled.g574[id="idgroup14"] {
                content: "divstyl18,"
            }

            
            .divstyl19 {
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                margin: 26px 0;
            }

            
            data-styled.g575[id="idgroup15"] {
                content: "divstyl19,"
            }

            
            .divstyl20 {
                width: 100%;
                position: relative;
                margin: 16px auto;
                border-bottom: 1px solid #D0D0D0;
            }

            
            data-styled.g576[id="idgroup16"] {
                content: "divstyl20,"
            }

            
            .divstyl21 {
                position: relative;
                top: 3px;
                -webkit-flex: 0 0 4em;
                -ms-flex: 0 0 4em;
                flex: 0 0 4em;
                color: #666666;
                text-align: center;
                margin: 0 16px;
            }

            
            data-styled.g577[id="idgroup17"] {
                content: "divstyl21,"
            }

            
            .divstyl22 {
                max-width: 475px;
                margin: auto;
                height: 100vh;
                padding-right: 8px;
                padding-bottom: 64px;
                padding-left: 8px;
            }

            
            @media screen and (min-width: 992px) {
                .divstyl22 {
                    height:auto;
                }
            }

            
            data-styled.g578[id="idgroup18"] {
                content: "divstyl22,"
            }

            
            .divstyl23 {
                padding-top: 64px;
                padding-bottom: 16px;
            }

            
            data-styled.g581[id="idgroup19"] {
                content: "divstyl23,"
            }

            
            .divstyl24 {
                color: #666666;
                float: right;
                font-size: 14px;
                margin-top: -6px;
                margin-bottom: 24px;
                cursor: pointer;
                -webkit-text-decoration: underline;
                text-decoration: underline;
            }

            
            data-styled.g583[id="idgroup20"] {
                content: "divstyl24,"
            }

            
            .divstyl25 {
                text-align: center;
                margin-top: 24px;
            }

            
            data-styled.g584[id="idgroup21"] {
                content: "divstyl25,"
            }

            
            .divstyl26 {
                color: #2E6BFF;
                -webkit-text-decoration: none;
                text-decoration: none;
                background-color: transparent;
            }

            
            data-styled.g585[id="idgroup22"] {
                content: "divstyl26,"
            }

            
            @media (min-width: 576px) {
                .divstyl27 {
                    min-height:calc(100vh - 102px);
                }
            }

            
            data-styled.g965[id="idgroup23"] {
                content: "divstyl27,"
            }

            
            .divstyl28 {
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
            }

            data-styled.g966[id="idgroup24"] {
                content: "divstyl28,"
            }

            .mysigninbutton {
                border-radius: 2px;
                background-color: #2E6BFF;
                color: white;
            }
            .mysigninbutton:hover {
                border-radius: 2px;
                background-color: darkblue;
                color: white;
            }
