.bttnstyl {
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-family: inherit;
    line-height: 1;
    border: 1px solid;
    -webkit-transition: box-shadow 200ms ease;
    transition: box-shadow 200ms ease;
    padding: 0 0.75rem;
    border-radius: 4px;
    width: 100%;
    text-transform: uppercase;
    -webkit-letter-spacing: 0.8px;
    -moz-letter-spacing: 0.8px;
    -ms-letter-spacing: 0.8px;
    letter-spacing: 0.8px;
    cursor: pointer;
    font-size: 0.875rem;
    height: 40px;
    min-width: 90px;
    -webkit-transition: background-color 80ms ease-in-out,border-color 80ms ease-in-out,box-shadow 60ms ease-in-out;
    transition: background-color 80ms ease-in-out,border-color 80ms ease-in-out,box-shadow 60ms ease-in-out;
    background-color: var(--bg-color,#29A160);
    border-color: var(--border-color,#29A160);
    color: var(--text-color,#FFFFFF);
    box-shadow: 0 0 0 2px transparent;
}


.bttnstyl:disabled {
    cursor: not-allowed;
}


data-styled.g2[id="idgroup1"] {
    content: "bttnstyl,"
}


.divsty1 {
    --bg-color: #2E6BFF;
    --border-color: #2E6BFF;
    --text-color: #FFFFFF;
}


.divsty1:hover {
    --bg-color: #2455CC;
    --border-color: var(--bg-color);
}


.divsty1:disabled {
    --bg-color: #96B5FF;
    --border-color: #96B5FF;
    --text-color: #FFFFFF;
}


.divsty1:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(150,181,255,0.5);
}


data-styled.g4[id="idgroup2"] {
    content: "divsty1,"
}


.divsty2 {
    display: inline-block;
    -webkit-text-decoration: none;
    text-decoration: none;
    color: #2E6BFF;
}


.divsty2:active {
    color: #2455CC;
}


data-styled.g12[id="idgroup3"] {
    content: "divsty2,"
}


.divsty3 {
    color: #000000;
    font-size: 20px;
    font-weight: 400;
    -webkit-letter-spacing: 0.15px;
    -moz-letter-spacing: 0.15px;
    -ms-letter-spacing: 0.15px;
    letter-spacing: 0.15px;
    font-weight: bold;
}


.divsty4 {
    color: #9B9B9B;
    font-size: 16px;
    font-weight: 400;
    -webkit-letter-spacing: 0.5px;
    -moz-letter-spacing: 0.5px;
    -ms-letter-spacing: 0.5px;
    letter-spacing: 0.5px;
}


.divsty5 {
    color: #2D2D2D;
    font-size: 14px;
    font-weight: 400;
    -webkit-letter-spacing: 0.1px;
    -moz-letter-spacing: 0.1px;
    -ms-letter-spacing: 0.1px;
    letter-spacing: 0.1px;
    margin: 0;
}


data-styled.g13[id="idgroup4"] {
    content: "divsty3,divsty4,divsty5,"
}


.divsty6 {
    --select-height: 48px;
    height: var(--select-height);
    width: 100%;
    box-sizing: border-box;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: transparent;
    border-radius: 4px;
    box-shadow: inset 0 0 0 1px #D0D0D0;
    -webkit-transition: box-shadow 150ms;
    transition: box-shadow 150ms;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.divsty6:focus {
    outline: none;
}


.divsty6:hover {
    box-shadow: inset 0 0 0 1px #666666;
}


data-styled.g38[id="idgroup5"] {
    content: "divsty6,"
}


.divsty7 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}


data-styled.g39[id="idgroup6"] {
    content: "divsty7,"
}


.divsty8 {
    --color: #666666;
    color: var(--color);
    height: var(--select-height);
    width: 100%;
    box-sizing: border-box;
    padding-right: calc(16px + 24px);
    padding-left: 16px;
    font-size: 16px;
    position: relative;
}


data-styled.g40[id="idgroup7"] {
    content: "divsty8,"
}


.divsty9 {
    line-height: var(--select-height);
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    font-family: inherit;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}


data-styled.g41[id="idgroup8"] {
    content: "divsty9,"
}



.divstyl46 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid rgba(145,158,171,0.32);
    color: #1877f2;
    width: 170px;
    height: 40px;
    border-radius: 4px;
    font-size: 14px;
}

.divsty10 {
    color: var(--color);
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
    line-height: var(--select-height);
    padding-right: calc(16px + 24px);
    padding-left: 16px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    font-size: 16px;
    font-family: inherit;
}


data-styled.g42[id="idgroup9"] {
    content: "divsty10,"
}


.divsty11 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    pointer-events: none;
    position: absolute;
    right: 12px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}


.divsty11:focus {
    outline: none;
    background-color: #efefef;
}


data-styled.g46[id="idgroup10"] {
    content: "divsty11,"
}


.divsty12 {
    display: block;
}


.divsty12:not(:last-child) {
    margin-bottom: 16px;
}


data-styled.g64[id="idgroup11"] {
    content: "divsty12,"
}


.divsty13 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 4px 0 8px 0px;
    font-weight: 400;
    line-height: 1.5;
    color: #2D2D2D;
    font-size: 14px;
}


@media (min-width: 768px) {
    .divsty13 {
        font-size:16px;
    }
}


.divsty13 span {
    color: #D13649;
    margin-right: 2px;
}


.divsty13 > svg {
    vertical-align: top;
    margin-right: 5px;
}


data-styled.g65[id="idgroup12"] {
    content: "divsty13,"
}


.divsty14 {
    width: 100%;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: inherit;
    line-height: 50px;
    background-color: transparent;
    border: 2px solid transparent;
    padding: 0;
    padding-left: 48px;
    padding-right: 16px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}


.divsty14::-webkit-input-placeholder {
    color: #D0D0D0;
    -webkit-transition: color 150ms;
    transition: color 150ms;
    opacity: 1;
}


.divsty14::-moz-placeholder {
    color: #D0D0D0;
    -webkit-transition: color 150ms;
    transition: color 150ms;
    opacity: 1;
}


.divsty14:-ms-input-placeholder {
    color: #D0D0D0;
    -webkit-transition: color 150ms;
    transition: color 150ms;
    opacity: 1;
}


.divsty14::placeholder {
    color: #D0D0D0;
    -webkit-transition: color 150ms;
    transition: color 150ms;
    opacity: 1;
}


.divsty14:focus {
    outline: none;
}


.divsty14:disabled {
    cursor: not-allowed;
}


data-styled.g89[id="idgroup13"] {
    content: "divsty14,"
}


.divsty15 {
    width: 100%;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    border: none;
    border-radius: 4px;
    box-shadow: inset 0 0 0 1px #D0D0D0;
    color: #2D2D2D;
    background-color: #FFFFFF;
    cursor: text;
    -webkit-transition-duration: 190ms;
    transition-duration: 190ms;
    -webkit-transition-property: box-shadow,background-color;
    transition-property: box-shadow,background-color;
}


.divsty15 > div:first-child svg {
    -webkit-transition: fill 190ms;
    transition: fill 190ms;
}


.divsty15:hover {
    box-shadow: inset 0 0 0 1px #666666;
}


.divsty15:focus-within,.divsty15:focus {
    outline: none;
    box-shadow: inset 0 0 0 2px #2E6BFF;
}


.divsty15:focus-within > div:first-child svg,.divsty15:focus > div:first-child svg {
    fill: #2E6BFF !important;
}


data-styled.g91[id="idgroup14"] {
    content: "divsty15,"
}


.divsty16 {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    left: 12px;
    pointer-events: none;
}


.divsty17 {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    right: 12px;
}


data-styled.g92[id="idgroup15"] {
    content: "divsty16,divsty17,"
}


.divsty18 {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    box-sizing: border-box;
    width: 100%;
    max-width: 0%;
}


@media (min-width: 992px) {
    .divsty18 {
        max-width:38.75%;
    }
}


.divsty19 {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
}


@media (min-width: 992px) {
    .divsty19 {
        max-width:61.24999999999999%;
    }
}


.divsty20 {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    box-sizing: border-box;
    width: 100%;
}


@media (min-width: 768px) {
    .divsty20 {
        max-width:100%;
    }
}


.divsty21 {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    box-sizing: border-box;
    width: 100%;
}


@media (min-width: 992px) {
    .divsty21 {
        max-width:100%;
    }
}


data-styled.g115[id="idgroup16"] {
    content: "divsty18,divsty19,divsty20,divsty21,"
}


.divsty22 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}


data-styled.g116[id="idgroup17"] {
    content: "divsty22,"
}


.divsty23 {
    -webkit-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #FFFFFF;
    margin: 0;
    outline: 0;
    cursor: pointer;
    position: relative;
    width: 20px;
    height: 20px;
    border-width: 1.5px;
    border-style: solid;
    border-color: currentColor;
    border-radius: 3px;
}


.divsty23:checked {
    border-color: #2E6BFF;
    background-color: #2E6BFF;
    border-radius: 6px;
}


.divsty23:checked:before {
    position: absolute;
    content: '';
    display: block;
    bottom: calc(50% - 4px);
    left: calc(50% - 4px);
    width: 7px;
    height: 11px;
    border: solid #FFFFFF;
    border-width: 0 1.5px 1.5px 0;
    border-radius: 10%;
    -webkit-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


data-styled.g142[id="idgroup18"] {
    content: "divsty23,"
}


.divsty24 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    padding: 12px;
    border-radius: 8px;
    color: #2455CC;
    background-color: #EAF0FF;
}


@media (min-width: 576px) {
    .divsty24 {
        padding:16px;
    }
}


.divsty25 {
    display: none;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    padding: 12px;
    border-radius: 8px;
    color: #E69C21;
    background-color: #FEF6E9;
}


@media (min-width: 576px) {
    .divsty25 {
        padding:16px;
    }
}


data-styled.g169[id="idgroup19"] {
    content: "divsty24,divsty25,"
}


.divsty26 {
    --icon-size: 24px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: var(--icon-size);
    height: var(--icon-size);
    margin-right: 8px;
}


@media (min-width: 576px) {
    .divsty26 {
        --icon-size:32px;
        margin-right: 16px;
    }
}


data-styled.g170[id="idgroup20"] {
    content: "divsty26,"
}


.divsty27 {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    font-size: 12px;
    margin-right: auto;
}


@media (min-width: 576px) {
    .divsty27 {
        font-size:14px;
    }
}


data-styled.g171[id="idgroup21"] {
    content: "divsty27,"
}


.divsty28 {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding-right: 12px;
}


@media (min-width: 768px) {
    .divsty28 {
        padding-right:24px;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
    }
}


data-styled.g172[id="idgroup22"] {
    content: "divsty28,"
}



.divsty29 {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background-color: #fff;
}


data-styled.g474[id="idgroup23"] {
    content: "divsty29,"
}


.divsty30 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: stretch;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}


.divsty30 > input {
    min-width: 20px;
    margin-top: 4px;
}


data-styled.g542[id="idgroup24"] {
    content: "divsty30,"
}


.divsty31 {
    margin-left: 8px;
}


.divsty31 > p,.divsty31 a {
    display: inline;
}


data-styled.g543[id="idgroup25"] {
    content: "divsty31,"
}


.divsty32 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid rgba(145,158,171,0.32);
    color: #1877f2;
    width: 170px;
    height: 40px;
    border-radius: 4px;
    font-size: 14px;
}


.divsty32 > * + * {
    margin-left: 4px;
}


.divsty32 > span {
    color: #1a1a1c;
}


data-styled.g565[id="idgroup26"] {
    content: "divsty32,"
}


.divsty33 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-bottom: 16px;
}


.divsty33 > * {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}


data-styled.g566[id="idgroup27"] {
    content: "divsty33,"
}


.divsty34 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
}


data-styled.g567[id="idgroup28"] {
    content: "divsty34,"
}


.divsty35 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 26px 0;
}


data-styled.g568[id="idgroup29"] {
    content: "divsty35,"
}


.divsty36 {
    width: 100%;
    position: relative;
    margin: 16px auto;
    border-bottom: 1px solid #D0D0D0;
}


data-styled.g569[id="idgroup30"] {
    content: "divsty36,"
}


.divsty37 {
    position: relative;
    top: 3px;
    -webkit-flex: 0 0 4em;
    -ms-flex: 0 0 4em;
    flex: 0 0 4em;
    color: #666666;
    text-align: center;
    margin: 0 16px;
}


data-styled.g570[id="idgroup31"] {
    content: "divsty37,"
}


@media (min-width: 576px) {
    .divsty38 {
        min-height:calc(100vh - 102px);
    }
}


data-styled.g896[id="idgroup32"] {
    content: "divsty38,"
}


.divsty39 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}


data-styled.g897[id="idgroup33"] {
    content: "divsty39,"
}


.divsty40 {
    max-width: 475px;
    margin: auto;
    height: 100%;
    padding-right: 8px;
    padding-bottom: 64px;
    padding-left: 8px;
}


@media screen and (min-width: 992px) {
    .divsty40 {
        height:auto;
    }
}


data-styled.g1322[id="idgroup34"] {
    content: "divsty40,"
}


.divsty41 {
    padding-top: 64px;
    padding-bottom: 16px;
}


data-styled.g1323[id="idgroup35"] {
    content: "divsty41,"
}


.divsty42 {
    padding: 0 8px;
    margin-bottom: 8px;
}


data-styled.g1326[id="idgroup36"] {
    content: "divsty42,"
}


.divsty43 {
    margin-bottom: 24px;
}


data-styled.g1327[id="idgroup37"] {
    content: "divsty43,"
}


.divsty44 {
    text-align: center;
    margin-top: 24px;
}


data-styled.g1329[id="idgroup38"] {
    content: "divsty44,"
}


.divsty45 {
    color: #2E6BFF;
    -webkit-text-decoration: none;
    text-decoration: none;
    background-color: transparent;
}


data-styled.g1330[id="idgroup39"] {
    content: "divsty45,"
}


